body {
    margin : 0;
}

#warp {
    overflow: hidden;
    min-width: 1190px;
}

#warp-width {
    width : 1130px;
    margin : 0 auto;
}

header {
    position: relative;
    width: 1130px;
    height: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
#header-top{
    position: relative;
    height: 160px;
}

#header-wrapper{
    position: relative;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 0 30px;
    top:30px;    
}

#heading {
    position: relative;
    height: 160px;

}

header nav {   
    text-align: right;
    font-size: small;
    text-decoration: none;
    margin : 0;
}

header nav a{
    text-decoration: none;
}

input#search-input{
     border : none;
     outline: none;
     display: inline-block;
     width: 470px;
     position: relative;
     top : 4px;     
 }


#cropped-logo {
    margin: -155px  0px 0px 0px;
    width : 400px;
    height: 400px;
    vertical-align: middle;
    position: relative;
    top : -0.5px;
    overflow: hidden;
    background-repeat: no-repeat;
   
}

#logo-crop-size {
    overflow: hidden; 
    float: left;
    width: 205px;
    height: 52px;
    margin-right: 15px;
}

fieldset {
    display: inline-block;
    border-color: rgb(41, 182, 17);
    border-style: solid;
    height: 55px;
    box-sizing: border-box;
    position: relative;
    bottom: -5px
}

#search-button {
    background-color: rgb(41, 182, 17);
    border: none;
    width: 52px;
    height: 52px;
    position: absolute;
    top: -0.5px;
    right: -1px;   
}

#img-button {
    display: inline-block;
    height: 23px;
    width: 23px;
    background-image: url(./naver\ main\ img.png);
    background-position: -171px -367px;
    background-repeat: no-repeat;
    background-size: 420px 390px;

}

.nav_item {
    display: inline-block;
    margin-left : 20px;
}

#header-nav {
    border-top  : 1px solid rgb(201, 201, 201);
    border-bottom:1px solid rgb(201, 201, 201);
    height: 50px;
    position: relative;
}

.list_nav {
    display: inline-block;
    padding : 0;
    margin : 0 auto;
    position: absolute;
    top : 14px;
}

.nav-first {
    text-decoration: none;
    color : rgb(41, 182, 17);
    font-weight: bold;
}


.nav {
    text-decoration: none;
    color : black;
    font-weight: bold;
}



.fa-envelope-open-text {
    color : rgb(41, 182, 17);
}

#view-more {
    font-size: 13px;
}

.fa-sort-down {
    display: inline-block;
    margin-left: 5px;
    color:gray
}

.fa-envelope-open-text{
    margin-right: 7px;
}

#section-ad {
    margin-top:20px;
    width:750px;
    height:135px;  
    display: inline-block;
    vertical-align: middle;
}

#section-ad-img{
    width:750px;
    height:135px;
}

#login-div{
    margin-left:0px;
    margin-top:20px;
    padding: 16px 16px 12px 17px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    display: inline-block;    
    box-sizing: border-box;
    width: 350px;
    height: 135px;
    display: inline-block;
    vertical-align: middle;
    position : relative;
}

#login-div p{
    font-size: small;
    color :rgb(129, 129, 129);
    right: 0;
    position: relative;
    bottom: 10px;
}

#login-button {
    background-color: rgb(41, 182, 17);
    border : none;
    height: 48px;
    width: 315px;
    border-radius :4px;
    bottom: 10px;
    position: relative;
}

#login-text {
    color : white;
    font-weight: bold;
    font-size: medium;
    margin-right :5px;
}
#login-text2 {
    color :white
}

.fa-user{
    position: relative;
    left: 100px;
}

a#join-text{
    position: relative;
    left: 105px;
    text-decoration: none;
    color: inherit;
}

#ad_login-bottom{
    box-sizing: border-box;
    display: inline-block;
    color : black;
    font-weight: bold;
    font-size: small;
    position: relative;
    padding: 12px 15px 11px 15px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    line-height: 24px;
    width: 750px;
    margin-top : 8px;
    vertical-align: middle;
}

#ad-bottom {
    margin-left : 310px;
}

#ad_login_bottom2{
    display: inline-block;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    padding: 12px 15px 11px 15px;
    line-height: 24px;
    vertical-align: middle;
    margin-top : 8px;
    width: 350px;
    box-sizing: border-box;
}

 #ad_login_bottom2 > :nth-child(2) {
        margin-left: 5px;
         font-weight: bold;
         font-size: small;
}

#ad_login_bottom2 > :nth-child(3){
    margin-left: 5px;
    color : red;
    font-size: small;
}

#ad_login_bottom2 > :nth-child(4){
    margin-left: 5px;
    color : blue;
    font-size: small;
}

#ad_login_bottom2 > :nth-child(5){
    font-weight: bold;
    color : black;
    font-size: small;
    margin-left: 120px;
}

.fa-snowflake{
    margin-left: 10px;
    color :rgba(99, 99, 99, 0.452);
}