 body { 
    margin-top : 0;
    margin-right : 50px;
    margin-left : 50px;
 }
 
 input#search-input{
     border : none;
     outline: none;
     display: inline-block;
     width: 700px;
 }
 
 heading  nav div {
    text-align: right;
    font-size: small;
}
heading  nav div a {
    text-decoration: none;
}

#cropped-logo {
    margin: -155px  0px 0px 0px;
    width : 400px;
    height: 400px;
}

#logo-crop-size {
    overflow: hidden; 
    float: left;
    width: 205px;
    height: 52px;
    margin-right: 15px;
}

fieldset {
    border-color: rgb(106, 252, 81);
    width: 521px;
    height: 49px;
    box-sizing: border-box;
}

button {
    background-color: rgb(41, 182, 17);
    border : none;
    width: 49px;
    height: 49px;
    position: absolute;
    margin : -7.5px -35px;
    
}

#img-button {
    display: inline-block;
    height: 21px;
    width: 21px;
    background-image: url(./naver\ main\ img.png);
    background-position: -171px -367px;
    background-repeat: no-repeat;
    background-size: 420px 390px;

}

.nav_item {
    display: inline-block;
    margin-left : 20px;
}

#header-nav {
    border-top  : 1px solid rgb(201, 201, 201);
    border-bottom:1px solid rgb(201, 201, 201);
    margin-top: 50px;
}
.nav-first {
    text-decoration: none;
    color : rgb(41, 182, 17);
    font-weight: bold;
}


.nav {
    text-decoration: none;
    color : black;
    font-weight: bold;
}



.fa-envelope-open-text {
    color : rgb(41, 182, 17);
}

#view-more {
    font-size: 13px;
}

.fa-sort-down {
    display: inline-block;
    margin-left: 5px;
    color:gray
}

